* {
  margin: 32px;
}
html {
  font-family: Roboto, sans-serif;
  font-size: 18px;
}
h1 {
  word-spacing: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  line-height: 28px;
}
.tech {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 3px;
  opacity: 80%;
  text-decoration: underline;
}
a {
  margin: 0;
  text-decoration: none;
}
em {
  margin: 0;
  color: grey;
}
