 div {
        border: 2px solid black;
      }
      .rectangle1 {
        margin: 50px;
        padding: 50px;
        background-color: blue;
      }

      .rectangle2 {
        margin: 0px;
        padding: 50px;
        background-color: yellow;
      }
      .rectangle3 {
        margin: 0px;
        padding: 50px;
        background-color: green;
      }
      .rectangle4 {
        margin: 0px;
        padding: 50px;
        background-color: pink;
      }


