* {
  box-sizing: border-box;
}
span {
  text-transform: lowercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  background-color: #faebd7;
  border-radius: 4px;
  margin: auto;
}
div {
  min-height: 200px;
  display: flex;
}
.products {
  display: flex;
}
.navigation {
  background-color: #ff7f50;
  flex: 1 0 auto;
}
.products-list {
  background-color: #006400;
  flex: 1 0 auto;
}
.news {
  background-color: #0ff;
}
@media screen and (max-width: 599px) {
  .products {
    flex-direction: column;
  }
}
@media screen and (min-width: 900px) {
  .container {
    display: flex;
  }
  .products {
    flex: 2 0 auto;
  }
  .news {
    flex: 1 0 auto;
  }
}
