   div {
        box-sizing: content-box;
        height: 140px;
        width: 420px;
        background-color: bisque;
        margin: 50px 100px;
        padding: 20px;
        border-color: firebrick chartreuse burlywood aqua;
        border-width: 10px 20px;
        border-style: solid solid dashed dashed;
      }